<div id="hero-holder" class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1 row">
      <div id="sign-up-hero" class="col-md-8 order-2 order-md-1">
        <%= image_tag('students', class: 'new-student-img') %>
      </div>

      <%= form_with(model: user,
        local: true,
        class: 'col-md-4 order-1 order-md-2',
        id: 'new-user-form') do |form| %>
        <% if user.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:
            </h2>

            <ul>
              <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :first_name %>
          <%= form.text_field(:first_name, class: 'form-control form-control-sm', placeholder: 'John' )%>
        </div>

        <div class="form-group">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, class: 'form-control form-control-sm', placeholder: 'Doe' %>
        </div>

        <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email , class: 'form-control form-control-sm', placeholder: 'JohnDoe@emial.com'%>
        </div>

        <div class="form-group">
          <%= form.label :phone %>
          <%= form.text_field :phone, class: 'form-control form-control-sm', placeholder: '555-555-5555' %>
        </div>

        <div class="form-group">
          <%= form.label :password %>
          <%= form.password_field :password, class: 'form-control form-control-sm', placeholder: 'Password' %>
        </div>

        <div class="form-group">
          <%= form.label :password_confirmation %>
          <%= form.password_field :password_confirmation, class: 'form-control form-control-sm', placeholder: 'Confirm Password' %>
        </div>

        <div class="form-group">
          <%= form.label :zip_code %>
          <%= form.text_field :zip_code, class: 'form-control form-control-sm', placeholder: 'Your Zip Code' %>
        </div>

        <div class="form-group">
          <%= form.submit 'Submit', class: 'btn btn-success btn-lg' %>
        </div>

      <% end %>

    </div>
  </div>
</div>
