<div class="section mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card profile-card-2">
          <div class="card-img-block">
            <img class="img-fluid" src="https://images.pexels.com/photos/877695/pexels-photo-877695.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image cap" />
          </div>
          <div class="card-body pt-5">
            <%= image_tag @user.avatar, alt: "#{@user.full_name}'s profile image", class: 'profile' %>
            <h5 class="card-title">
              <%= @user.full_name %>
            </h5>
            <p class="card-text">
              <%= @user.email %> | <%= @user.phone %>
            </p>
            <address>
              <%= @user.address %> <br>
              <%= @user.city %> - <%= @user.state %>, <%= @user.zip_code %>
            </address>
          </div>
          <div class="card-footer">
            <%= link_to 'Edit Profile', edit_user_path(@user) %> |
            <%= link_to 'Create Teacher Profile', new_profile_path %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card profile-card-2">
          <h5 class="card-title text-center pt-2">Lessons</h5>
          <div class="card-body pt-5">
            <ul>
              <% @user.lessons.each do |lesson| %>
                <ul>
                  <%= link_to lesson.description, lesson %>
                </ul>
              <% end %>
            </ul>
          </div>
          <div class="card-footer">
            <%= link_to 'New Lesson', new_lesson_path %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card profile-card-2">
          <h5 class="card-title text-center pt-2">Profiles</h5>
          <div class="card-body pt-5">
            <ul>
              <% @user.profiles.each do |profile| %>
                <ul>
                  <%= link_to profile.description, profile %>
                </ul>
              <% end %>
            </ul>
          </div>
          <div class="card-footer">
            <%= link_to 'New Profile', new_profile_path %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
