<p id="notice"><%= notice %></p>

<p>
  <strong>Rating:</strong>
  <%= @reviews.rating %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @reviews.comments %>
</p>

<p>
  <strong>User:</strong>
  <%= @reviews.user_id %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @reviews.profile_id %>
</p>

<%= link_to 'Edit', edit_reviews_path(@reviews) %> |
<%= link_to 'Back', reviews_path %>
