  <h1 class="p-2 text-center text-light m-0">Create New Profile</h1>
  <div class="row">
    <div class="col-10 offset-1 row">
      <div class="col-md-8 order-2 order-md-1 px-0">
        <div id="sign-up-hero"></div>
      </div>

      <%= form_with(model: profile, local: true) do |form| %>
        <% if profile.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
            <ul>
              <% profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :profile_type %>
          <%= form.text_field :profile_type, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= form.label :description %>
          <%= form.text_field :description, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= form.label :skills %>
          <%= form.text_field :skills, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= form.label :availability %>
          <%= form.text_field :availability, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= form.label :education_level %>
          <%= form.text_field :education_level, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= form.label :certifications %>
          <%= form.text_field :certifications, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= form.label :user_id %>
          <%= form.hidden_field :user_id, value:current_user.id %>
        </div>

        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>

    </div>
  </div>
</div>
