<p id="notice"><%= notice %></p>

<p>
  <strong>Profile type:</strong>
  <%= @profile.profile_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @profile.skills %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @profile.availability %>
</p>

<p>
  <strong>Education level:</strong>
  <%= @profile.education_level %>
</p>

<p>
  <strong>Certifications:</strong>
  <%= @profile.certifications %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>|
<%= link_to 'Teach New Lesson', new_profile_lesson_path(@profile) %>
