<div class="teacher-profile">
  <div class="alert alert-success" role="alert">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="row">

  <div class="profile-description col-6">
      <h5>My Teaching Profile</h5>
    <p>
      <strong>Profile type:</strong>
      <%= @profile.profile_type %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @profile.description %>
    </p>

    <p>
      <strong>Skills:</strong>
      <%= @profile.skills %>
    </p>

    <p>
      <strong>Availability:</strong>
      <%= @profile.availability %>
    </p>

    <p>
      <strong>Education level:</strong>
      <%= @profile.education_level %>
    </p>

    <p>
      <strong>Certifications:</strong>
      <%= @profile.certifications %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @profile.user_id %>
    </p>
    <div>
      <%= link_to 'Edit', edit_profile_path(@profile) %> |
      <%= link_to 'Back', profiles_path %>|
      <%= link_to 'Teach New Lesson', new_profile_lesson_path(@profile) %>
    </div>
  </div>

  <div class="col-6 profile-lessons">
    <h5 id="lesson-header">My Lessons</h5>
      <div class="row">
        <div class="card individual lesson col-3 mb-2" >
          <%= image_tag('http://lorempixel.com/300/200/', class: 'lesson image card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">Lesson description</h5>
            <p class="card-text">
              Location
            </p>
            <p class="card-text">
              Attendees
            </p>
            <p class="card-text">
              Duration
            </p>
            LINK
          </div>
        </div>
        <div class="card individual lesson col-3 mb-2" >
          <%= image_tag('http://lorempixel.com/300/200/', class: 'lesson image card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">Lesson description</h5>
            <p class="card-text">
              Location
            </p>
            <p class="card-text">
              Attendees
            </p>
            <p class="card-text">
              Duration
            </p>
            LINK
          </div>
        </div>
        <div class="card individual lesson col-3 mb-2" >
          <%= image_tag('http://lorempixel.com/300/200/', class: 'lesson image card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">Lesson description</h5>
            <p class="card-text">
              Location
            </p>
            <p class="card-text">
              Attendees
            </p>
            <p class="card-text">
              Duration
            </p>
            LINK
          </div>
        </div>
        <div class="card individual lesson col-3 mb-2" >
          <%= image_tag('http://lorempixel.com/300/200/', class: 'lesson image card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">Lesson description</h5>
            <p class="card-text">
              Location
            </p>
            <p class="card-text">
              Attendees
            </p>
            <p class="card-text">
              Duration
            </p>
            LINK
          </div>
        </div>
        <div class="card individual lesson col-3 mb-2" >
          <%= image_tag('http://lorempixel.com/300/200/', class: 'lesson image card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">Lesson description</h5>
            <p class="card-text">
              Location
            </p>
            <p class="card-text">
              Attendees
            </p>
            <p class="card-text">
              Duration
            </p>
            LINK
          </div>
        </div>
        <div class="card individual lesson col-3 mb-2" >
          <%= image_tag('http://lorempixel.com/300/200/', class: 'lesson image card-img-top') %>
          <div class="card-body">
            <h5 class="card-title">Lesson description</h5>
            <p class="card-text">
              Location
            </p>
            <p class="card-text">
              Attendees
            </p>
            <p class="card-text">
              Duration
            </p>
            LINK
          </div>
        </div>
      </div>
  </div>





</div>











</div>
