<p id="notice"><%= notice %></p>

<h1>Lessons</h1>
<!-- <%= render "lessons/lessons" %> -->
<!-- <%= stylesheet_link_tag("/lessons.css") %> -->

<% @lessons.each do |lesson| %>

<div class="lesson-flex">
  <div class="lessons">
    <h5><%= lesson.description %></h5>
    <%= image_tag('img1.jpg', class: 'images') %>
    <div class="text">
    <%= lesson.location %> <br>
    <%= lesson.attendees_number %> <br>
    <%= lesson.duration %> <br>
    Enjoy quality time with peers.
    </div>
  </div>
</div>

<% end %>

  <!-- <div class="lessons">
    <h5>Personal Yoga Classes</h5>
    <%= image_tag('img1.jpg', class: 'images') %>
    <div class="text">
    What you will learn: <br>
    Manage your stress levels. <br>
    Connect with your spiritual self. <br>
    Enjoy quality time with peers.
    </div>
  </div>
  <div class="lessons">
  <h5>Personal Yoga Classes</h5>
  <%= image_tag('img1.jpg', class: 'images') %>
  <div class="text">
  What you will learn: <br>
  Manage your stress levels. <br>
  Connect with your spiritual self. <br>
  Enjoy quality time with peers.
  </div>

  </div>
  </div>
  <br>
  <br>
  <br>


  <div class="lesson-flex">

  <div class="lessons">
  <h5>Personal Yoga Classes</h5>
  <%= image_tag('img1.jpg', class: 'images') %>
  <div class="text">
  What you will learn: <br>
  Manage your stress levels. <br>
  Connect with your spiritual self. <br>
  Enjoy quality time with peers.
  </div>
  </div>
  <div class="lessons">
  <h5>Personal Yoga Classes</h5>
  <%= image_tag('img1.jpg', class: 'images') %>
  <div class="text">
  What you will learn: <br>
  Manage your stress levels. <br>
  Connect with your spiritual self. <br>
  Enjoy quality time with peers.
  </div>
  </div>
  <div class="lessons">
  <h5>Personal Yoga Classes</h5>
  <%= image_tag('img1.jpg', class: 'images') %>
  <div class="text">
  What you will learn: <br>
  Manage your stress levels. <br>
  Connect with your spiritual self. <br>
  Enjoy quality time with peers.
  </div>

  </div>
</div> -->
<!-- <table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Location</th>
      <th>Attendees number</th>
      <th>Duration</th>
      <th>Student requirements</th>
      <th>Supplied by teacher</th>
      <th>Comments</th>
      <th>User</th><%= lesson.attendees_number %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.description %></td>
        <td><%= lesson.start_time %></td>
        <td><%= lesson.end_time %></td>
        <td><%= lesson.location %></td>
        <td><%= lesson.attendees_number %></td>
        <td><%= lesson.duration %></td>
        <td><%= lesson.student_requirements %></td>
        <td><%= lesson.supplied_by_teacher %></td>
        <td><%= lesson.comments %></td>
        <td><%= lesson.user_id_id %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br> -->

<%= link_to 'New Lesson', new_lesson_path %>
