<p id="notice"><%= notice %></p>

<h1>Lessons</h1>

<!-- <%= stylesheet_link_tag("/lessons.css") %> -->

<% @lessons.each do |lesson| %>

<div class="lesson-flex">
  <div class="lessons">
    <h5><%= lesson.description %></h5>
    <%= image_tag('img1.jpg', class: 'images') %>
    <div class="text">
    <%= lesson.location %> <br>
    <%= lesson.attendees_number %> <br>
    <%= lesson.duration %> <br>
    </div>
  </div>
</div>

<% end %>



<%= link_to 'New Lesson', new_lesson_path %>
