<p id="notice"><%= notice %></p>

<h1 id="lesson-header">Lessons</h1>

<!-- <%= stylesheet_link_tag("/lessons.css") %> -->

<div class="lessons-main container">
  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="card individual lesson col-3" >
        <%= image_tag('lessons_placeholder', class: 'lesson image card-img-top') %>
        <div class="card-header">
          <h5><%= lesson.description %></h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= lesson.location %>
          </p>
          <p class="card-text">
            <%= lesson.attendees_number %>
          </p>
          <p class="card-text">
            <%= lesson.duration %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>



<%= link_to 'New Lesson', new_lesson_path %>
