<p id="notice"><%= notice %></p>

<h1 id="lesson-header">Lessons</h1>

<div class="lessons-main container">
  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="card individual lesson col-3 mb-2" >
            <%= image_tag ( lesson.image.attached? ? lesson.image : "https://blog.stylingandroid.com/wp-content/themes/lontano-pro/images/no-image-slide.png" ), alt: "#{lesson.description}'s lesson image", class: 'lesson image card-img-top lessons-profilepic' %>
        <div class="card-body">
          <h5 class="card-title"><%= lesson.description %></h5>
          <p class="card-text">
            Location: <%= lesson.location %>
          </p>
          <p class="card-text">
            Desc: <%= lesson.description %>
          </p>
          <p class="card-text">
            Duration: <%= lesson.duration %>
          </p>
        </div>
        <div>
          <%= link_to 'Book Lesson', lesson_path(lesson), class: 'btn btn-outline-primary btn-block' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= console %>
