<p id="notice"><%= notice %></p>

<h1 id="lesson-header">Lessons</h1>

<div class="lessons-main container">
  <div class="row">
    <% @lessons.each do |lesson| %>
      <div class="card individual lesson col-3 mb-2" >
        <%= image_tag('http://lorempixel.com/300/200/', class: 'lesson image card-img-top') %>
        <div class="card-body">
          <h5 class="card-title"><%= lesson.description %></h5>
          <p class="card-text">
            <%= lesson.location %>
          </p>
          <p class="card-text">
            <%= lesson.attendees_number %>
          </p>
          <p class="card-text">
            <%= lesson.duration %>
          </p>
          <%= link_to 'Book Lesson', lesson_path(lesson) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
